<div *ngIf="note">
    <div class="card mt-3">
        <div class="card-body" data-bs-toggle="modal" data-bs-target="#modal-editar"
            (click) = "editarNota(note)" (click)="changeActualNote()">
            <p class="card-text">{{note.text}}</p>
        </div>
         <div *ngIf="city">
            <label>Ciudad: {{city}} </label>
        </div>
        <div>
            <label>Temperatura: {{note.temp}} °C</label>
        </div>
        <div>
            <label>Fecha: {{note.date}}</label>
        </div>
        <div>
            <label>Hora: {{note.hour}}</label>
        </div>
        <div class="card-footer">
            <div class="d-flex flex-row-reverse">
                <img class="papelera" src="../../assets/trash.png" (click)="openModalDelete()" > 
            </div>
        </div>
    </div>
</div>